@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root, .example-container.mat-drawer-container, .site{
    width: 100%!important;
    height: 100%!important;
    margin: 0;
}
.site{
    display: flex;
    flex-direction: column;
}
header{
    background-color: green;
}
footer{
    background-color: red;
}
main{
    flex: 1;
    display: flex;
}

